{% extends 'base.html.twig' %}

{% block title %}New Usuario{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Create new Usuario</h1>

    {{ include('usuarios/_form.html.twig') }}

    <a href="{{ path('app_usuarios_index') }}" class="btn btn-secondary mt-3">Back to list</a>
</div>
{% endblock %}
